#profile {

    margin-left: auto;
    float: left;
    width: 200px;
    height: 200px;
    padding: 15px;
}

h1 {

    font-family: #ffffff;
    border-color: #cccccc;
}
.list-group {
    position: absolute;
    margin-right: 10;
    right: 0px;
    top: 0px;
    color: #777777;
    
}
p {
    color: #777777;
    font-size: 20px;
    clear: right;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-bottom: 0px;
    bottom: 0px;
    position: fixed;
    text-align: center;
    display: block;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    background-color: black;
    color: white;
}